{{>layouts/header}}
<form action="/deleteAccount" method="post">
    <input type="text" name="email" placeholder="이메일">
    <input type="text" name="password" placeholder="비밀번호">
    <button type="submit" class="btn btn-primary">탈퇴</button>
</form>
{{>layouts/footer}}